:root {
  --color-main: rgb(0, 255, 200);
  --color-dark: rgb(41, 41, 41);
  --radius: 8px;
}

*:focus, *:hover{outline:none;}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  background-clip: padding-box;
  // border: 2px solid rgb(184, 184, 184);
}
::-webkit-scrollbar-track {
  background-color: rgb(102, 102, 102);
  border-radius: 10px;
  // box-shadow: inset 0px 0px 6px rgb(59, 59, 59);
}

body {
  // background-color: var(--color-dark);
  background-image: url(./assest/img/stary-sky.jpg);
}

div, span {
  -ms-user-select: none;
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
}

.button {
  width: fit-content;
  height: 35px;
  line-height: 36px;
  font-size: 18px;
  box-sizing: content-box;
  padding: 0 15px;
  border-radius: var(--radius);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
  &:hover {
    box-shadow: 0 10px 20px -6px black;
  }
  &:active {
  }
}