:root {
  scroll-behavior: smooth;
  --color-main: rgb(0, 255, 200);
  --color-dark-main: rgb(0, 112, 88);
  --color-dark: rgb(41, 41, 41);
  --color-gray: #7b7b7b;
  --color-link: #00dcff;
  --radius: 8px;
}

*:focus, *:hover{outline:none;}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  background-clip: padding-box;
}
::-webkit-scrollbar-track {
  background-color: rgb(102, 102, 102);
  border-radius: 10px;
}

body {
  // background-color: var(--color-dark);
}

a {
  color: var(--color-link);
}

.screen {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: #ffa7a7b3; 
}